*.xml
*.iml
.idea/copyright/
.idea/dictionaries/
.idea/inspectionProfiles/
AtomatonView-temp-SavePs.dot
Intersection.ps
Testing/
Tips.txt
out/production/Project-adventures/AutomatonViewer.class
out/production/Project-adventures/Edge.class
out/production/Project-adventures/State.class
out/production/Project-adventures/TestingMain.class
out/production/Project-adventures/adventure.aut
out/production/Project-adventures/find_key_before_opening_door.aut
out/production/Project-adventures/find_key_before_opening_door2.aut
out/production/Project-adventures/jump_river_or_sword.aut
out/production/Project-adventures/min_two_treasure_after_last_arc.aut
out/production/Project-adventures/two_treasures.aut
/out/production/Project-adventures/Automaton.class
!/out/production/Project-adventures/AutomatonParser.class
/out/production/Project-adventures/Level2.class
/out/production/Project-adventures/AutomatonParser.class
/out/production/Project-adventures/Level0.class
/out/production/Project-adventures/Main.class
/out/production/Project-adventures/Level1.class
/out/
/.idea/
